<%= render "home/header" %>
<p id="notice"><%= notice %></p>

    <% @clubs.each do |club| %>
    <div class="panel panel-default col-md-3">
    
      <div class="panel-body">
        <center><%= image_tag club.avatar.url ,height: '125', width: '125', class:"image" %></center>
      </div>
      <div class="panel-footer">          <span class="TextType">         
          <%= link_to club.name , club%></span></div>
    </div>
    <% end %>