<div class="panel panel-default">
    <div class="panel-body">
         <ul class="sidebar">
            <li >
                <a href="#">
                   Admin Panel
                </a>
            </li>
            <li>
                <%=link_to "Kulüpler", admin_clubs_path %>
            </li>
            <li>
                <%=link_to "Kişiler", admin_users_path %>
            </li>
            <li>
               <%=link_to "Haberler", admin_infos_path %>
            </li>
            <li>
                <%=link_to "Duyurular", admin_notices_path %>
            </li>
            </ul>
    </div>
</div>