
*{
	font-family: "Times New Roman", Times, serif;
}
body {
background-image: url(bg.jpg);
background-repeat: repeat;
background-attachment: scroll;
background-color: white;
background-position: top-left;
}



.sidebar{
    list-style: none;
}
.sidebar li {
    text-decoration: none;
    padding-top: 15px;

}
.sidebar li :hover{
    text-decoration: none;


}
.image{
	border-radius: 20px;

}
.icon{
	border-radius: 7px;
}


#club{
		text-decoration: none !important;
		font-size: 15px;

}
#club :hover{
		text-decoration: none !important;
		background-color: white !important;
		color: black !important;

}
.TextType :hover{
	text-decoration: none;
	color:gray;
	background-color: white;
	font-size: 16px;
}
